section {
  background-color: #f57f17;
}
@media screen and (max-width: 850px) {
  section {
    margin-left: 10px;
  }
}
@media screen and (max-width: 525px) {
  section p {
    font-size: 14px;
  }
}
a[target=_blank] {
  text-decoration: underline;
}
.blue-box {
  border: 3px solid #34495e;
  color: #34495e;
}
.red-box {
  border: 3px solid #b71c1c;
  color: #b71c1c;
}
.brown-text,
.brown-text i {
  color: #6d4c41;
}
