.stage {
  width: 600px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  perspective: 10000px;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: -50% -240px;
}
svg {
  width: 600px;
  height: 400px;
}
@media screen and (max-width: 850px) {
  svg {
    margin: auto;
    width: 90vw;
  }
}
#btn-welcome {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  cursor: pointer;
  white-space: nowrap;
}
@media screen and (max-width: 850px) {
  #btn-welcome {
    font-size: 10vw;
  }
}
