.stage {
    width: 600px;
    height: 80px;
    position: relative;
    //top: 50%;
    margin: 0 auto;
    margin-top: -9px;
    //transform: translate(-200px, -40px);
    perspective: 10000px;

    -webkit-perspective: 800px;
    -webkit-perspective-origin: -50% -240px;
}


.stage > svg {
    width: 600px;
    height: 600px;
    //border: 1px solid black;
}
