.stage {
  width: 600px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  margin-top: -9px;
  perspective: 10000px;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: -50% -240px;
}
.stage > svg {
  width: 600px;
  height: 600px;
}
