body,
main,
header {
  background-color: rgba(0,0,0,0.4);
}
@media screen and (max-device-width: 800px) {
  body,
  main,
  header {
    background-color: #388e3c;
  }
}
body.hide-video,
body.hide-video main,
body.hide-video header {
  background-color: transparent;
}
html {
  background-color: #388e3c;
}
nav span {
  color: #000;
}
.navbar-custom {
  background-color: transparent;
}
@media screen and (max-device-width: 800px) {
  .navbar-custom {
    background-color: #388e3c;
    border-bottom: 1px solid #fff;
  }
}
.navbar-custom .navbar-toggle {
  border: none;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
  border-color: #fff;
}
.navbar-custom .navbar-nav li a:hover {
  color: #ffa000;
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus {
  background-color: #ffa000;
  color: #fff;
}
header {
  height: 100vh;
}
header .center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.profile-icon {
  color: #fff;
  font-size: 50px;
  margin: 15px;
}
@media screen and (max-device-width: 800px) {
  #bg-vid {
    display: none;
  }
}
#bg-vid video {
  width: 100%;
  background-size: cover;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
#bg-vid .video-controls {
  position: fixed;
  bottom: 0;
  right: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 1000;
}
#bg-vid .video-controls i {
  margin: 20px;
}
#bg-vid .video-controls i:hover {
  cursor: pointer;
}
section * {
  color: #fff;
}
hr.star-light {
  border-top: solid 5px;
  position: relative;
  max-width: 105px;
  transform: translateX(-72px);
}
hr.star-light:before {
  content: '';
  position: absolute;
  border-top: solid 5px;
  color: #fff;
  max-width: 105px;
  right: -145px;
  height: 100%;
  width: 100%;
  margin-top: -5px;
}
hr.star-light:after {
  background-color: transparent;
  margin-left: 105px;
  z-index: 12;
}
.project-item {
  padding: 15px;
  margin: 15px 0;
  width: auto;
}
.project-item .title {
  text-align: center;
  margin-top: 0;
}
.project-item .title a:hover,
.project-item .title a:focus {
  color: #fff;
}
#boxchat {
  background-color: #e64a19;
}
#nyota {
  background-color: #388e3c;
}
@media screen and (max-device-width: 800px) {
  #nyota {
    border: 2px solid #fff;
    padding: 13px;
  }
}
.hide-video #nyota {
  border: 2px solid #fff;
  padding: 13px;
}
#journ {
  background-color: #039be5;
}
#kitti {
  background-color: #8e24aa;
}
