* {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #34495e;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255,255,255,0.05) 25%, rgba(255,255,255,0.05) 26%, transparent 27%, transparent 74%, rgba(255,255,255,0.05) 75%, rgba(255,255,255,0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255,255,255,0.05) 25%, rgba(255,255,255,0.05) 26%, transparent 27%, transparent 74%, rgba(255,255,255,0.05) 75%, rgba(255,255,255,0.05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}
.spec {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
nav,
main {
  padding: 40px 40px;
  color: #fff;
  vertical-align: top;
}
nav {
  position: fixed;
  width: 300px;
  height: calc(100% - 80px);
}
nav h1 {
  margin-left: 3px;
}
@media screen and (max-width: 850px) {
  nav {
    display: none;
    width: 100%;
    position: relative;
  }
}
h1 {
  font-weight: 300;
  font-size: 40px;
}
ul {
  list-style: none;
  padding: 3px;
  padding-top: 20px;
}
li {
  font-size: 25px;
  font-weight: 300;
}
li,
.name-tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
main {
  margin-left: 300px;
}
main > header {
  position: relative;
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 850px) {
  main {
    margin-left: 0;
  }
}
section {
  background-color: #f49c12;
  padding: 15px !important;
  margin-bottom: 20px;
}
section p {
  font-size: 20px;
}
h2 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 20px;
}
.big-text {
  font-size: 100px;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
header > h1 {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  height: 150px;
  position: relative;
  padding: 1px;
}
