.green-sea-back {
  background-color: #16a085;
}
.orange-back {
  background-color: #e67e22;
}
.yellow-back {
  background-color: #f1c40f;
}
.emerald-back {
  background-color: #2ecc71;
}
.nephritis-back {
  background-color: #27ae60;
}
.cloud-back {
  background-color: #ecf0f1;
}
.cloud-back * {
  color: #000;
}
.concrete-back {
  background-color: #95a5a6;
}
.light-amber-back {
  background-color: #ffb300;
}
.amber-back {
  background-color: #ffa000;
}
.dark-amber-back {
  background-color: #ff6f00;
}
.deep-orange-back {
  background-color: #ff5722;
}
.dark-orange-back {
  background-color: #e65100;
}
.cyan-back {
  background-color: #0097a7;
}
.blue-box {
  border: 3px solid #34495e;
}
.blue-box,
.blue-box * {
  color: #34495e;
}
.red-box {
  border: 3px solid #b71c1c;
}
.red-box,
.red-box * {
  color: #b71c1c;
}
.cloud-box {
  border: 3px solid #ecf0f1;
}
.cloud-box,
.cloud-box * {
  color: #ecf0f1;
}
.concrete-box {
  border: 3px solid #95a5a6;
}
.concrete-box,
.concrete-box * {
  color: #95a5a6;
}
.lightblue-box {
  border: 3px solid #3498db;
}
.lightblue-box,
.lightblue-box * {
  color: #3498db;
}
.emerald-box {
  border: 3px solid #23cc71;
}
.emerald-box,
.emerald-box * {
  color: #23cc71;
}
.nephritis-box {
  border: 3px solid #27ae60;
}
.nephritis-box,
.nephritis-box * {
  color: #27ae60;
}
.yellow-box {
  border: 3px solid #f1c40f;
}
.yellow-box,
.yellow-box * {
  color: #f1c40f;
}
.amber-box {
  border: 3px solid #ffa000;
}
.amber-box,
.amber-box * {
  color: #ffa000;
}
.amethyst-box {
  border: 3px solid #9b59b6;
}
.amethyst-box,
.amethyst-box * {
  color: #9b59b6;
}
.black-box {
  border: 3px solid #000;
}
.black-box,
.black-box * {
  color: #000;
}
.green-box {
  border: 3px solid #2e7d32;
}
.green-box,
.green-box * {
  color: #2e7d32;
}
.coral-box {
  border: 3px solid #ff6347;
}
.coral-box,
.coral-box * {
  color: #ff6347;
}
.gulp-red-box {
  border: 3px solid #cf4646;
}
.gulp-red-box,
.gulp-red-box * {
  color: #cf4646;
}
.brown-text,
.brown-text i {
  color: #6d4c41;
}
main:last-child {
  margin-bottom: 10px;
}
section {
  background-color: #e74c3c;
}
@media screen and (max-width: 850px) {
  section {
    margin-left: 10px;
  }
}
@media screen and (max-width: 525px) {
  section p {
    font-size: 14px;
  }
}
.row {
  vertical-align: top;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.row > * {
  margin-right: 20px;
}
.row > *:last-of-type {
  margin-right: 0;
}
.row .center {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
}
@media screen and (max-width: 750px) {
  .row {
    flex-flow: column nowrap;
  }
  .row > section {
    order: -1;
    margin-right: 0;
  }
}
a[target=_blank] {
  text-decoration: underline;
}
.fa-github:hover {
  color: #000;
}
section ul {
  margin-left: 20px;
  padding-left: 20px;
  list-style: square;
}
section ul li {
  font-size: 20px;
  padding: 3px;
}
.image-row {
  text-align: center;
}
.image-row img {
  display: inline-block;
  padding: 0 20px;
}
.raise-demo-1 {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0;
}
.raise-demo-2 {
  position: absolute;
  width: 75px;
  height: 75px;
  margin: 3px 0 0 23px;
  padding: 0;
}
.raise-demo-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 5px 45px;
  padding: 0;
}
