/* COLORS */
/* turquoise */
.iso-turquoise {
  background: #1abc9c;
}
.iso-turquoise:after,
.iso-turquoise:before {
  background: #16a085;
}
/* emerald */
.iso-emerald {
  background: #2ecc71;
}
.iso-emerald:after,
.iso-emerald:before {
  background: #27ae60;
}
/* alizarin (red) */
.iso-alizarin {
  background: #e74c3c;
}
.iso-alizarin:after,
.iso-alizarin:before {
  background: #c0392b;
}
/* FUNCTIONALITY */
.nav-item > a {
  text-decoration: none;
}
.iso-raise {
  box-shadow: -10px 10px 2px rgba(1,1,1,0.3);
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.iso-raise:after,
.iso-raise:before {
  content: "";
  position: absolute;
}
.iso-raise,
.iso-raise:after,
.iso-raise:before,
.iso-press:after,
.iso-press:before {
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.iso-raise:before {
  height: auto;
  width: 10px;
  top: 5px;
  bottom: -5px;
  left: -10px;
  transform: skewY(-45deg);
}
.iso-raise:after {
  height: 10px;
  width: auto;
  bottom: -10px;
  left: -5px;
  right: 5px;
  transform: skewX(-45deg);
}
.iso-hover:hover {
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  box-shadow: -20px 20px 2px rgba(1,1,1,0.3);
}
.iso-press:active {
  margin-right: 8px;
  margin-left: -8px;
  margin-top: 8px;
  box-shadow: -2px 2px 0 rgba(1,1,1,0.3);
}
.iso-press:active:before {
  width: 2px;
  left: -2px;
  top: 1px;
  bottom: -1px;
}
.iso-press:active:after {
  height: 2px;
  left: -1px;
  bottom: -2px;
  right: 1px;
}
