@import 'colors'


section
  background-color #f57f17//#f4511e//#8e44ad

  @media screen and (max-width: 850px)
    margin-left 10px
  @media screen and (max-width: 525px)
    p
      font-size 14px

a[target=_blank]
  text-decoration underline

.fa.fa-facebook-square:hover
  color #3b5998

.fa.fa-linkedin-square:hover
  color #0077b5
