
section
  background-color #f57f17//#f4511e//#8e44ad

  @media screen and (max-width: 850px)
    margin-left 10px
  @media screen and (max-width: 525px)
    p
      font-size 14px

a[target=_blank]
  text-decoration underline

.blue-box
  border 3px solid #34495e
  color #34495e

.red-box
  border 3px solid #b71c1c//#c0392b
  color #b71c1c//#c0392b

.brown-text
  &, i
    color #6d4c41
