
// Backgrounds
.green-sea-back
  background-color #16a085

.orange-back
  background-color #e67e22

.yellow-back
  background-color #f1c40f

.emerald-back
  background-color #2ecc71

.nephritis-back
  background-color #27ae60

.cloud-back
  background-color #ecf0f1
  *
    color black

.concrete-back
  background-color #95a5a6

.light-amber-back
  background-color #ffb300//#ffa000

.amber-back
  background-color #ffa000

.dark-amber-back
  background-color #ff6f00

.deep-orange-back
  background-color #ff5722

.dark-orange-back
  background-color #e65100

.cyan-back
  background-color #0097a7



// Highlight box
.blue-box
  border 3px solid #34495e
  &, *
    color #34495e

.red-box
  border 3px solid #b71c1c//#c0392b
  &, *
    color #b71c1c//#c0392b

.cloud-box
  border 3px solid #ecf0f1
  &, *
    color #ecf0f1

.concrete-box
  border 3px solid #95a5a6
  &, *
    color #95a5a6

.lightblue-box
  border 3px solid #3498db
  &, *
    color #3498db

.emerald-box
  border 3px solid #23cc71
  &, *
    color #23cc71

.nephritis-box
  border 3px solid #27ae60
  &, *
    color #27ae60

.yellow-box
  border 3px solid #f1c40f
  &, *
    color #f1c40f

.amber-box
  border 3px solid #ffa000
  &, *
    color #ffa000

.amethyst-box
  border 3px solid #9b59b6
  &, *
    color #9b59b6

.black-box
  border 3px solid #000
  &, *
    color #000

.green-box
  border 3px solid #2e7d32
  &, *
    color #2e7d32

.coral-box
  border 3px solid #ff6347
  &, *
    color #ff6347

.gulp-red-box
  border 3px solid #cf4646
  &, *
    color #cf4646



// Text color
.brown-text
  &, i
    color #6d4c41


