section#about.container
  div.row
    div.col-lg-12.text-center
      h2 About
      hr.star-light
  div.row
    p.col-lg-4
      | Hey there! I'm Pat Grasso, currently a Senior at Stevens Institute
      | of Technology pursuing a Bachelor of Science degree in Computer
      | Science. Afterwards, I'll be staying for one more year to complete
      | a Master's degree in Cybersecurity.
    p.col-lg-4
      | I have experience with web development at nearly every layer in the
      | stack, having handled everything from database modeling to front-end
      | design.
    p.col-lg-4
      | However, most of my interests lie within computer vision, machine
      | learning, artificial intelligence, natural language understanding,
      | and other hard problems in computer science and math.
//
  p Much of my personal experience has been with 
    span.blue-box JavaScript/Node.js
    |  and various frameworks,
    | however my professional experience at 
    a.red-box(target='_blank' href='http://icims.com') iCIMS
    |  has consisted mostly of 
    span.brown-text Java 
      i.fa.fa-coffee
    | .
  br
  p For the past year (two semesters) I have been the 
    span.red-box teaching assistant
    |  for CS 385 - Algorithms at Stevens.
  br
  p I have competed twice now (2014 and 2015) in the ACM International
    | Collegiate Programming Contest, representing Stevens.
  br
  p From these experiences and many more, I have developed an understanding
    | and appreciation for the beauty of various types of algorithms and data
    | structures as well as a knack for identifying and comparing solutions
    | to problems. I have a passion for learning concepts, frameworks, and
    | various technologies that allow me to create software, whether it be a
    | system program that interacts with an external device, or a web
    | application with an aesthetically appealing user interface.
