div#bg-vid
  video(preload='none' muted loop)
    source(src='toucan.mp4' type='video/mp4')
  div.video-controls
    i.play.fa.fa-play(hidden)
    i.pause.fa.fa-pause(hidden)
    i.stop.fa.fa-stop(hidden)
