header
  div.center
    img.logo(type='image/svg+xml' src='images/cover-white.svg' alt='Logo for the page')
    div.intro-text
      h1.name Pat Grasso
      span.skills Web Developer | Computer Scientist
      div
        a(target='_blank' href='https://facebook.com/bluesledmaster')
          i.profile-icon.fa.fa-facebook-square
        a(target='_blank' href='https://linkedin.com/in/patrick-grasso-9b36778a')
          i.profile-icon.fa.fa-linkedin-square
        a(target='_blank' href='https://github.com/patgrasso')
          i.profile-icon.fa.fa-github
  div.bottom
    li.page-scroll
      a(href='#projects')
        img(type='image/svg+xml' src='images/zig-zag.svg' alt='Scrolls to projects section')
