extends ./main.jade

block css
  link(rel='stylesheet' href='css/index.css')

block scripts
  script(type='text/javascript' src='js/index.js')

block content
  include bg-video
  include header

  main
    include projects
    include about

