nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
  div.container
    div.navbar-header.page-scroll
      button.navbar-toggle(
        type='button'
        data-toggle='collapse'
        data-target='#dat-navbar'
      )
        span.sr-only Toggle navigation
        i.fa.fa-bars
      a.navbar-brand(href='#page-top') Pat Grasso
    div#dat-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
        li.page-scroll
          a(href='#projects') Projects
        li.page-scroll
          a(href='#about') About
