section#projects.container
  div.row
    div.col-lg-12.text-center
      h2 Projects
      hr.star-light
  div.row
    div.col-sm-4
      div#boxchat.col-sm-12.project-item
        h3.title
          a(href='https://github.com/patgrasso/boxchat' target='_blank') Boxchat
        p.description
          | A slack/irc-like team communication application built on node, express,
          | and websockets.

      div#kitti.col-sm-12.project-item
        h3.title
          a(href='https://github.com/patgrasso/boxchat' target='_blank') KITTI Road Detection
        p.description
          | Experimentation and research with object recognition and image segmentation
          | in order to identify the driver's lane in images.

    div.col-sm-4
      div#nyota.col-sm-12.project-item
        h3.title
          a(href='https://github.com/patgrasso/nyota' target='_blank') Nyota
        p.description
          | Rule-based natural language understanding and artificial intelligence
          | system with an API for language features and concepts such as verbs and
          | nouns.

    div.col-sm-4
      div#journ.col-sm-12.project-item
        h3.title
          a(href='https://github.com/patgrasso/journ-web' target='_blank') Journ
        p.description
          | A journal-keeping platform with a simple REST API and web client built
          | with React. (Future command-line interface and mobile apps to follow)
